[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
httpretty = "*"
pytest = "*"
selenium = "*"
pytest-django = "*"
pytest-xdist = "*"
pytest-watch = "*"
pytest-mock = "*"
pytest-cov = "*"
vcrpy = "*"
autopep8 = "*"
yapf = "*"
jedi = "*"
ipython = "*"
pylint = "*"
rope = "*"
elpy = "*"

[packages]
click = "*"
readchar = "*"
termcolor = "*"

[requires]
python_version = "3.6"
